.StudentSideBar {
    width: 250px;
    height: 100vh;
    background-color: #521945;
    position: fixed;
    left: 0;
    top: 0;
    color: white
  }
  
  .student-sidebar-header {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .student-sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .student-sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding: 10px;
    font-size: large;
    transition: background-color 0.5s ease;
  }
  
  .student-sidebar-item i {
    margin-right: 10px; 
  }
  
  .student-sidebar-item:hover {
    background-color: #912F56;
  }
  
  .student-sidebar-link{
    color: white;
    text-decoration: none;
  }
  
  .student-sidebar-link:hover{
    color: #EAF2EF;
    text-decoration: none;
  }
  