body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(82,9,135);
  background: linear-gradient(90deg, rgba(82,9,135,1) 14%, rgba(157,49,221,1) 59%, rgba(246,83,208,1) 100%); 
}

.bigPageTitle{
  color: white;
  margin-bottom: 20px;
}

.coloredTab{
  color: white;
}

.coloredTab:hover{
  color: rgb(231, 22, 227);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.standaloneCard{
  margin-top: 20px;
}

.report-info-list {
  list-style-type: none;
}

