.loginPage {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  background-color: white;
  /* font-family: 'Nunito', sans-serif; */
  font-size: 22px;
  /* color: #521945; */
  color: #912F56;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9d50bb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9d50bb, #6e48aa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #793ebc , #b04db4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  background-position: center;
  background-repeat: no-repeat;       
  height: 100vh;
  background-attachment: fixed;
}

.bigPageTitle{
  color: white;
  margin-bottom: 20px;
}

.coloredTab{
  color: white;
}

.coloredTab:hover{
  color: rgb(238, 161, 237);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.standaloneCard{
  margin-top: 20px;
}

.report-info-list {
  list-style-type: none;
}

.clickRow:hover td{
  color: white !important;
}

.clickRow:hover {
  cursor: pointer;
  background-color: #8b59b7;
  transition: background-color 0.2s ease;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

